footer{
	background-color:#333;
	color:#e6e6e6;
}

.glyphicon{

	color: #33cc33;
}

#submitFeed{

	background: #33cc33;
}

#ScrollStyle, #selectMachineryProcess, #selectMachineryPlant{
	max-height: 410px;
    overflow-y: scroll;
}

#cursored{
	cursor:pointer;
}

.breadcrumb{
	height:580px;
	overflow-y: scroll;
}

#footerContact{
	cursor:pointer;
}

#footerContact:hover{
	color:yellow;
}

#finishCreatePlantBTN{
	float: right;
	margin-top:10px;
}

#finalBtnStyle{

	margin-left:15px;
}

#colorG{
	color:black;
}

input:focus, textarea:focus{
	background-color: #f5f5dc;
	color:green;
}

tr:hover{
	background-color:#333;
	cursor:pointer;
	color:white;
}

a{
	cursor:pointer;
}

#contactTitle{
	color:black;
	text-align: center;
	padding:0px;
	margin:0px;
}

#contactGlyphStyle{
	color:black;
	padding:0px;
	margin:0px;
}
/*#page-wrapper{
	background: #F7E7CE;
}*/

/*#backg{
	background-image: url("http://localhost:8080/PharmaMachinery/public/images/background.jpg");
	background-repeat: no-repeat;
}*/
/* Custom Fonts */
h2{
	font-family: 'Lora', serif;
}

h1{
	font-family: 'PT Serif', serif;
}

#processInputFirst{
	height:750px;
}